body {
}

p {
    display: inline;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    display: inline;
    font-size: 12px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

textarea {
    resize: none;
}

a {
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    color: green;
    cursor: pointer;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 75px;
    background-color: green;
    z-index: 2;
    display: flex;
    justify-content: center;
}

#sidePanel {
    position: relative;
    width: 150px;
    background: bisque;
    z-index: 1;
    margin: 5px;
    border: black solid 1px;
}

#nameInput {
    max-height: 30px;
    width: 300px;
}