#content {
    position: relative;
    top: 70px;

    display: flex;
    justify-content: center;
}

#mainWindow {
    position: relative;
    width: 600px;
    background: bisque;
    z-index: 1;
    margin: 5px;
    border: 1px solid black;
}

.message {
    position: relative;
    //background: red;
    z-index: 2;
    border: black dotted 1px;

    width: calc(100% - 25px);
    margin: 5px;
    padding: 5px;
    margin-left: 10px;
}

.svara {
    text-decoration: underline;
}

.svara:hover {
    color: green;
    cursor: pointer;
}
